.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 50px;
}

.project {
    width: 320px;
    margin: 40px 20px;
    background-color: white;
}

a:hover {
    transform: scale(1.05);
}

img {
    width: 320px;
}

h2,
p {
    margin: 0px;
}

.info {
    padding: 10px 5px;
}